@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Roboto';
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

input[type=number] {
  position: relative;
  padding: 20px;
}

.piechart {
  margin-bottom: 15px;
  position: absolte;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.whiteRound {
  position: absolute;
  margin-top: 20px;
  margin-left: 0px;
}

.totalAmount {
  position: absolute;
  margin-top: 70px;
}