@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Roboto';
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  background: black;
}

.piechartInput::-webkit-outer-spin-button,
.piechartInput::-webkit-inner-spin-button {
  width: 225px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

.piechartInput {
  position: relative;
  padding: 20px;
}

.piechart {
  margin-bottom: 15px;
  position: absolte;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.whiteRound {
  position: absolute;
  margin-top: 20px;
  margin-left: 0px;
}

.totalAmount {
  position: absolute;
  margin-top: 70px;
}


.specialInput::-webkit-inner-spin-button,
.specialInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}